@page "/scratchpads"
@using ZoaReference.Features.Scratchpads.Models
@using ZoaReference.Features.Scratchpads.Repositories
@rendermode InteractiveServer

@inject IJSRuntime Js
@inject ScratchpadsRepository ScratchpadRepository

@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> Settings

<PageTitle>Scratchpads - @Settings.Value.ARTCC Reference</PageTitle>

<div class="ml-1 mb-4">
    <select @ref="_dropdown" @bind:get="_selectedFacilityId" @bind:set="UpdateSelectedFacility"
            class="p-2 bg-gray-700 text-gray-100 w-64">
        @foreach (var facility in _facilities)
        {
            <option value="@facility" class="text-gray-100">@facility</option>
        }
    </select>
</div>

<div class="text-s">
    <QuickGrid Items="@_selectedScratchpads.AsQueryable()">
        <PropertyColumn Title="Scratchpad" Property="@(m => m.Entry)" Sortable="true"/>
        <PropertyColumn Title="Description" Property="@(m => m.Description)" Sortable="true"/>
    </QuickGrid>
</div>

@code {
    private IEnumerable<string> _facilities = [];
    private string _selectedFacilityId = "";
    private IEnumerable<Scratchpad> _selectedScratchpads = [];
    private ElementReference _dropdown;
    private IJSObjectReference? _storage;

    protected override void OnInitialized()
    {
        _facilities = ScratchpadRepository.AllAirportIds.OrderBy(s => s);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _storage = await Js.InvokeAsync<IJSObjectReference>("import", "./scripts/storage.js");
            var savedFacilityId = await _storage.InvokeAsync<string?>("get", "scratchpadsSelectedFacilityId");
            if (savedFacilityId is not null)
            {
                if (ScratchpadRepository.TryGetValue(savedFacilityId, out var foundScratchpads))
                {
                    _selectedFacilityId = savedFacilityId;
                    _selectedScratchpads = foundScratchpads!;
                }

                StateHasChanged();
            }

            await Js.InvokeVoidAsync("SetFocusToElement", _dropdown);
        }
    }


    private async Task UpdateSelectedFacility(string value)
    {
        if (ScratchpadRepository.TryGetValue(value, out var foundScratchpads))
        {
            _selectedFacilityId = value;
            _selectedScratchpads = foundScratchpads!;
            if (_storage is not null)
            {
                await _storage.InvokeVoidAsync("set", "scratchpadsSelectedFacilityId", _selectedFacilityId);
            }
        }
    }

}
