@page "/procedures"
@using Microsoft.Extensions.Options
@using ZoaReference.Features.Docs.Repositories
@rendermode InteractiveServer

@inject DocumentRepository DocumentRepository
@inject IOptionsMonitor<AppSettings> AppSettings
@inject ProtectedSessionStorage ProtectedSessionStore

@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> Settings

<PageTitle>Procedures - @Settings.Value.ARTCC Reference</PageTitle>

<div>
    <select @bind="_displayedPdfUrl" @bind:after="UpdateStoredUrl" class="p-2 bg-gray-700 text-gray-100 w-[600px]">
        @foreach (var category in DocumentRepository.Categories)
        {
            <optgroup label="@category.Name" class="text-gray-400">
                @foreach (var doc in category.Documents)
                {
                    <option value="@doc.Url" class="text-gray-100">@doc.Name</option>
                }
            </optgroup>
        }
    </select>
</div>
@if (!string.IsNullOrEmpty(_displayedPdfUrl))
{
    <div class="grow flex flex-col">
        <object class="mt-2 pt-1 w-full grow" type="application/pdf" data="@(_displayedPdfUrl + "#view=FitH")"></object>
    </div>
}

@code {

    private string _displayedPdfUrl = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var savedStateTask = await ProtectedSessionStore.GetAsync<string>("proceduresPdfUrl");
                if (!savedStateTask.Success || savedStateTask.Value is null)
                {
                    return;
                }

                _displayedPdfUrl = savedStateTask.Value;
                StateHasChanged();
            }
            catch
            {
                // Session storage data may be unreadable (e.g. stale data after server restart)
            }
        }
    }

    private async Task UpdateStoredUrl()
    {
        await ProtectedSessionStore.SetAsync("proceduresPdfUrl", _displayedPdfUrl);
    }

}
